sudo: true
dist: bionic

services:
  - docker

script:
  - docker build -f docker/Dockerfile -t kfs-test .
  - docker run -d --privileged --name kfs-test --rm kfs-test /bin/bash -c "/workdir/kfs.sh"
  