[Unit]
Description=Setup disc!!!!!!!!!!!!!!!!!!!!!!!
After=glusterd.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/gluster-disc-setup.sh

[Install]
WantedBy=multi-user.target